
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let wishlist = getWishlist();
            if (wishlist.length === 0) {
                document.getElementById('wishlist-content').innerHTML = '<p>Your wishlist is empty.</p>';
            } else {
                let wishlistContent = '';
                wishlist.forEach(function(productId) {
                    let product = {{ all_products[productId] | json }};
                    if (product) {
                        wishlistContent += `<div class="wishlist-item">
                        <a href="${product.url}">${product.title}</a>
                    </div>`;
                    }
                });
                document.getElementById('wishlist-content').innerHTML = wishlistContent;
            }
        });
    </script>
    <div id="wishlist-content"></div>
