<div class="studioengine-full">{{ article.content }}</div>

<style>
.template-article .Article__Wrapper {
  max-width: 100%;
}
</style>

{% schema %}
{
  "name": "Blog post page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_article_image",
      "label": "Show article image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show article date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show article title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_prev_next",
      "label": "Show prev/next articles",
      "default": true
    },
    {
      "type": "color",
      "id": "article_bg_color",
      "label": "Background color",
      "default": "#FFFFFF"
    }
  ]
}
{% endschema %}