.shopify-section--header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.Header .Heading,
.Header .Link--secondary,
.Header .Link--primary:hover {
    color: var(--header-heading-color);
}

.Header .Text--subdued,
.Header .Link--primary,
.Header .Link--secondary:hover {
    color: var(--header-light-text-color);
}

.Header {
    background: var(--header-background);
    color: var(--header-heading-color);
    box-shadow: 0 -1px var(--header-border-color) inset;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Header__Wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
}

.Header__Logo {
    position: relative;
    margin-bottom: 0;
}

.Header__LogoLink,
.Header__LogoImage {
    display: block;
}

.Header__LogoLink {
    text-align: center;
}

.Header__LogoImage {
    margin: 0 auto;
    transition: opacity 0.3s ease-in-out;
}

.Header__LogoImage--transparent {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.Header__Icon {
    display: inline-block;
    line-height: 1;
    transition: color 0.2s ease-in-out;
}

.Header__Icon span {
    display: block;
}

.Header__Icon+.Header__Icon {
    margin-left: 18px;
}

.supports-sticky .Search[aria-hidden=true]+.Header--transparent {
    background: transparent;
}

.supports-sticky .Search[aria-hidden=true]+.Header--transparent .Header__LogoImage--primary:not(:only-child) {
    opacity: 0;
}

.supports-sticky .Search[aria-hidden=true]+.Header--transparent .Header__LogoImage--transparent {
    opacity: 1;
}

.supports-sticky .Search[aria-hidden=true]+.Header--transparent .Header__Icon svg {
    -webkit-filter: drop-shadow(0 1px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 1px rgba(0, 0, 0, 0.25));
}

.supports-sticky .Search[aria-hidden=true]+.Header--transparent .Header__Icon,
.supports-sticky .Search[aria-hidden=true]+.Header--transparent .HorizontalList__Item>.SelectButton,
.supports-sticky .Search[aria-hidden=true]+.Header--transparent .HorizontalList__Item>.Heading,
.supports-sticky .Search[aria-hidden=true]+.Header--transparent .Header__LogoLink>.Heading,
.supports-sticky .Search[aria-hidden=true]+.Header--transparent .Text--subdued {
    color: currentColor;
}

.Header__Icon .Icon--nav {
    height: 14px;
    width: 20px;
}

.Header__Icon .Icon--cart {
    width: 17px;
    height: 20px;
}

.Header__Icon .Icon--search {
    position: relative;
    top: 1px;
    /* for pixel perfect */
    width: 18px;
    height: 17px;
}

.Header__FlexItem {
    display: flex;
}

.Header__FlexItem--fill {
    flex: 1 0 0;
    align-items: center;
}

.Header__FlexItem--fill:last-child {
    justify-content: flex-end;
}

.Header__CartDot {
    position: absolute;
    top: 2px;
    right: -6px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--header-heading-color);
    box-shadow: 0 0 0 2px var(--header-background);
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.Header__CartDot.is-visible {
    transform: scale(1);
}

.Search[aria-hidden=true]+.Header--transparent .Header__CartDot {
    box-shadow: none;
    background-color: currentColor;
}

@media screen and (min-width: 681px) {
    .Header__Wrapper {
        padding: 10px 30px;
    }

    .Header__LogoImage {
        max-width: 100%;
    }

    .Header__Icon+.Header__Icon {
        margin-left: 25px;
    }

    .Header__Icon .Icon--nav-desktop {
        height: 17px;
        width: 24px;
    }

    .Header__Icon .Icon--cart-desktop {
        height: 23px;
        width: 19px;
    }

    .Header__Icon .Icon--search-desktop {
        position: relative;
        top: 2px;
        /* for pixel perfect alignment with the cart icon */
        width: 21px;
        height: 21px;
    }

    .Header__Icon .Icon--account {
        position: relative;
        top: 2px;
        /* for pixel perfect alignment with the cart icon */
        width: 20px;
        height: 20px;
    }

    .Header--withIcons .Header__SecondaryNav {
        position: relative;
        top: 1px;
        /* for pixel perfect alignment with icons */
        margin-right: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .js .Header__Wrapper {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .Header:not(.Header--sidebar) .Header__Wrapper {
        padding: 16px 50px; 
      
    }

    .Header__Localization {
        display: inline-block;
    }

    .Header__MainNav {
/*         margin-right: 45px; */
    }

    /* .Header--inline .Header__FlexItem:first-child .Header__LocalizationForm,
    .Header--logoLeft .Header__FlexItem:first-child .Header__LocalizationForm {
        display: none;
    } */

    .Header--logoLeft .Header__FlexItem--logo {
        order: -1;
        margin-right: 38px;
    }

    .Header--logoLeft .Header__FlexItem--fill:last-child {
        flex: none;
    }

    .Header--center .Header__Wrapper.Header__Wrapper {
        /* Ugly hack to increase CSS specificity */
        padding-bottom: 24px;
    }

/*     .Header--center .Header__MainNav {
      display: flex;
      justify-content: space-between;
    } */

  	.HorizontalList--spacingExtraLoose .HorizontalList__Item {
      margin-right: 10px;
      margin-left: 10px;
    }
 
/*   	.HorizontalList--spacingExtraLoose .HorizontalList__Item {
      margin-right: 0;
      margin-left: 0;
    } */

    .Header--center .Header__MainNav .HorizontalList {
        margin-left: 0;
        margin-right: 0;
    }

    .Header--center .Header__FlexItem {
        margin-bottom: 40px;
    }

    /* .Header--center .Header__SecondaryNav .Header__LocalizationForm {
        display: none;
    } */

    .Header--initialized .Header__Wrapper {
        opacity: 1;
    }
}

@media screen and (min-width: 1308px) {
    .Header--center .Header__MainNav {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 18px;
        width: 100%;
        text-align: center;
    }
}

/**
 * ----------------------------------------------------------------------------
 * Desktop nav
 * ----------------------------------------------------------------------------
 */

.Header__LinkSpacer {
    position: absolute;
    display: block;
    bottom: 0;
    color: transparent;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Header__LinkSpacer::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scale(0, 1);
    transform-origin: left center;
    border-bottom: 2px solid var(--header-heading-color);
    transition: transform 0.3s, opacity 0.3s;
}

.Header:not(.Header--transparent) .HorizontalList__Item.is-expanded .Header__LinkSpacer::after,
.Header:not(.Header--transparent) .HorizontalList__Item.is-active .Header__LinkSpacer::after {
    opacity: 1;
    transform: scale(1, 1);
}

/**
 * ----------------------------------------------------------------------------
 * Dropdown menu
 * ----------------------------------------------------------------------------
 */

.DropdownMenu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    padding: 25px 0;
    min-width: 200px;
    max-width: 270px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-align: left;
    background: var(--header-background);
    border: 1px solid var(--header-border-color);
    border-top: none;
    transition: all 0.3s ease-in-out;
}

.DropdownMenu::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    background: var(--header-heading-color);
    width: 100%;
    height: 2px;
    transform: scale(0, 1);
    transform-origin: left center;
    transition: transform 0.3s;
}

.DropdownMenu[aria-hidden=false] {
    opacity: 1;
    visibility: visible;
}

.DropdownMenu[aria-hidden=false]::before {
    transform: scale(1, 1);
}

.DropdownMenu[aria-hidden=false] .DropdownMenu {
    display: block;
}

.DropdownMenu [aria-haspopup] {
    position: relative;
}

.DropdownMenu .Link {
    padding-left: 25px;
    padding-right: 40px;
}

.DropdownMenu svg {
    position: absolute;
    width: 6px;
    top: calc(50% - 4px);
    height: 10px;
    right: 20px;
    transition: transform 0.2s ease-in-out;
}

.DropdownMenu .Linklist__Item:hover svg {
    transform: translateX(4px);
}

.DropdownMenu .Linklist__Item:hover>.Link--secondary {
    color: var(--header-light-text-color);
}

.DropdownMenu .DropdownMenu {
    display: none;
    left: 100%;
    top: -26px;
    border-top: 1px solid var(--header-border-color);
}

.DropdownMenu .DropdownMenu::before {
    display: none;
}

.DropdownMenu .DropdownMenu--reversed {
    left: auto;
    right: 100%;
}

/**
 * ----------------------------------------------------------------------------
 * Mega menu
 * ----------------------------------------------------------------------------
 */

.MegaMenu {
    position: absolute;
    padding: 20px 0;
    width: 100%;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    max-height: 600px;
    overflow: auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    text-align: left;
    background: var(--header-background);
    border-bottom: 1px solid var(--header-border-color);
    transition: all 0.3s ease-in-out;
}

@supports (--css: variables) {
    .MegaMenu {
        max-height: calc(100vh - var(--header-height));
    }
}

.MegaMenu[aria-hidden=false] {
    opacity: 1;
    visibility: visible;
}

.MegaMenu__Inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 10px;
    /* each menu has 40px margin, but header has 50px, so we normalize it here */
}

.MegaMenu--spacingEvenly .MegaMenu__Inner {
    justify-content: space-around;
    justify-content: space-evenly;
    /* space-evenly is not supported everywhere */
}

.MegaMenu--spacingCenter .MegaMenu__Inner {
    justify-content: center;
}

@supports (display: grid) {
    .MegaMenu--grid .MegaMenu__Inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

.MegaMenu__Item {
    margin: 20px 40px;
    flex-shrink: 1;
}

.MegaMenu__Item--fit {
    flex-shrink: 0;
}

.MegaMenu__Title {
    display: block;
    margin-bottom: 20px;
}

.MegaMenu__Push {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.MegaMenu__Push--shrink {
    width: 50%;
}

.MegaMenu__Push--shrink:first-child {
    padding-right: 15px;
}

.MegaMenu__Push--shrink:last-child {
    padding-left: 15px;
}

.MegaMenu__PushImageWrapper {
    margin: 8px auto 20px auto;
    max-width: 100%;
    overflow: hidden;
}

.MegaMenu__PushHeading {
    margin-bottom: 6px;
}

@media (-moz-touch-enabled: 0),
(hover: hover) {
    .MegaMenu__Push img {
        transform: scale(1);
        transition: opacity 0.3s ease, transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .MegaMenu__Push:hover img {
        transform: scale(1.2);
    }
}
@media (min-width: 750px) {
    #weglot-switcher-2 {
        display: none !important;
    }
}