.NewsletterPopup {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px);
    padding: 24px 30px 30px 30px;
    background: var(--newsletter-popup-background);
    color: var(--newsletter-popup-text-color);
    z-index: 50;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transform: translateY(25px);
    opacity: 0;
    transition: all 0.5s var(--drawer-transition-timing);
}

.NewsletterPopup .Heading {
    color: inherit;
}

.NewsletterPopup .Form__Input::-moz-placeholder {
    color: rgba(var(--newsletter-popup-text-color-rgb), 0.6);
}

.NewsletterPopup .Form__Input:-ms-input-placeholder {
    color: rgba(var(--newsletter-popup-text-color-rgb), 0.6);
}

.NewsletterPopup .Form__Input::placeholder {
    color: rgba(var(--newsletter-popup-text-color-rgb), 0.6);
}

.NewsletterPopup .Form__Input {
    border-color: rgba(var(--newsletter-popup-text-color-rgb), 0.4);
}

.NewsletterPopup .Form__Input:focus {
    border-color: var(--newsletter-popup-text-color);
}

.NewsletterPopup .Button {
    color: var(--newsletter-popup-background);
    border-color: var(--newsletter-popup-text-color);
}

.NewsletterPopup .Button::before {
    background-color: var(--newsletter-popup-text-color);
}

@media (-moz-touch-enabled: 0),
(hover: hover) {
    .NewsletterPopup .Button:not([disabled]):hover {
        color: var(--newsletter-popup-text-color);
        background-color: transparent;
    }
}

.NewsletterPopup[aria-hidden=false] {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.NewsletterPopup__Close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.NewsletterPopup__Close svg {
    display: block;
    width: 15px;
    height: 15px;
}

.NewsletterPopup__Content a {
    text-decoration: underline;
    text-underline-position: under;
}

.NewsletterPopup__Form {
    margin-top: 32px;
}

@media screen and (min-width: 681px) {
    .NewsletterPopup {
        max-width: 385px;
        right: 25px;
        bottom: 25px;
        left: auto;
        padding-top: 35px;
    }

    .NewsletterPopup__Close svg {
        width: 18px;
        height: 18px;
    }
}